<div id="comments">
    {% for item in comments %}
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ item.name }}
                <small>{{ item.createdAt|date('Y-m-d H:m') }}</small>
            </h4>
            {{ item.comment }}
        </div>
    </div>
    {% endfor %}
</div>